<!DOCTYPE html>
<html lang="en-US" class="wa-cloak wa-theme-default wa-palette-default wa-brand-blue">
  <head>
    <title>the thoughtshepherds{% if title %} | {{ title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>
  <body>
    <wa-page disable-navigation-toggle>
      <header slot="header">
        <img src="{% image "thoughtsheep.png" %}" alt="">
        {% if title %}
        <div class="h1">thoughtshepherds</div>
        {% else %}
        <h1>thoughtshepherds</h1>
        {% endif %}
        people leading thoughts
      </header>
      <header slot="subheader">
        <wa-breadcrumb>
          <wa-breadcrumb-item>
            <wa-icon slot="start" name="house"></wa-icon>
            Home
          </wa-breadcrumb-item>
        </wa-breadcrumb>
      </header>
        <main>
          <flex>
            <div class="main-content">
              {% if title %}
              <h1>{{ title }}</h1>
              {% endif %}
              {{ content }}
            </div>
            <blank>This space intentionally left blank.</blank>
          </flex>
        </main>
    </wa-page>
    <script type="module" src="https://ka-f.webawesome.com/webawesome@3.5.0/webawesome.loader.js"></script>
  </body>
</html>