@import url("https://ka-f.webawesome.com/webawesome@3.5.0/styles/webawesome.css");
@import url("https://ka-f.webawesome.com/webawesome@3.5.0/styles/themes/default.css");

header[slot="header"] {
  justify-content: flex-start;
  color: white;
  background-color: var(--wa-color-purple-20);

  .h1 {
    font-size: var(--wa-font-size-3xl);
    font-weight: var(--wa-font-weight-bold);
  }
}

header[slot="subheader"] {
  background-color: var(--wa-color-gray-90);
}

main {
  max-width: 800px;
}

wa-card {
  box-shadow: var(--wa-shadow-l);

  &::part(header) {
    background-color: var(--wa-color-pink-40);
    color: white;
  }
}

.flex {
  display: flex;
  column-gap: var(--wa-space-m);

  wa-card {
    flex: 1;
  }
}
